@charset "utf-8";

main {
  padding-top: 78px;
}

section {
  width: 100%;
  text-align: center;
}

.inner {
  width: 1100px;
  margin: 0 auto;
}

header {
  width: 100%;
  background: #fff;
  text-align: center;
  padding: 15px 0;
  position: fixed;
  z-index: 1;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.fas {
  color: #777;
}

.contact a {
  padding: 12px 14px;
  font-size: 12px;
  background-color: #6ba7eb;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  transition: 0.3s;
}

.contact a:hover {
  color: #333;
}

.sp-menu {
  display: none;
}

/* ハンバーガーメニュー*/
.sp-menu {
  width: 36px;
  height: 36px;
}

.sp-menu_box {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 2px solid #777;
  border-radius: 5px;
  height: 36px;
  width: 36px;
  z-index: 1;
}

.sp-menu_box span,
.sp-menu_box span::before,
.sp-menu_box span::after {
  content: "";
  display: block;
  height: 3px;
  width: 25px;
  background: #777;
  position: absolute;
}

.sp-menu_box span::before {
  bottom: 8px;
}

.sp-menu_box span::after {
  top: 8px;
}
/*ハンバーガーメニューここまで*/


.keyvisual {
  background-image: url("../img/keyvisual/keyvisual.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 400px 0;
}

h1 {
  font-size: 65px;
  line-height: 65px;
  font-weight: 700;
  color: #6ba7eb;
  margin: 0;
  padding-bottom: 30px;
}

h2 {
  font-size: 40px;
  line-height: 40px;
}

.sub-title {
  font-weight: 700;
  color: #ffffff;
  margin: 0;
}

.section-title {
  letter-spacing: 10px;
}

.work {
  background: #e3f2fd;
  line-height: 0;
  padding-top: 50px;
}

.contents {
  display: flex;
}

.work-img {
  width: 40%;
}

.pc-img {
  width: 250px;
}

.work-text {
  width: 60%;
}

.work-title {
  margin: 0;
  padding: 20px 0 35px 0;
}

.text {
  margin: 0;
  font-size: 15px;
  line-height: 16px;
  word-break: break-all;
}

.skills {
  background: #fff;
  line-height: 0;
  padding: 50px 0 70px 0;
}

.skills-title {
  margin-bottom: 50px;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

ul {
  padding: 0;
}

.pic {
  float: left;
  list-style: none;
  margin: 100px 100px 0 0;
}

.skill-pic {
  width: 300px;
  height: 300px;
  opacity: 0.7;
  transition: 0.7s;
}

.pic:nth-child(-n+3) {
  margin-top: 0;
}

.pic:nth-child(3n) {
  margin-right: 0;
}

.skill-pic:hover {
  opacity: 1.0;
}

.plans {
  background: #d0dfea;
  padding: 50px 0;
}

.plan-title {
  margin-bottom: 50px;
}

.plan-table {
  table-layout: fixed;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  border-spacing: 0;
  background: #f9f9f9;
}

.plan-table tr:nth-child(2n+1) {
  background: #e0efff;
}

.plan-table th {
  background: #6ba7eb;
  font-size: 16px;
  line-height: 26px;
  padding: 10px;
  border-left: 2px solid #fff;
}

.plan-table th:first-child {
  border-left: none;
}

.plan-table td {
  font-size: 16px;
  line-height: 26px;
  padding: 10px;
  border-left: 2px solid #fff;
}

.plan-table td:first-child {
  border-left: none;
}

.sns {
  background: #e3f2fd;
  padding: 200px 0;
}

.sns-nav {
  display: flex;
  justify-content: center;
}

.sns-nav i {
  width: 185px;
  padding: 25px 0;
  color: #8c8c8c;
  overflow: hidden;
  font-size: 40px;
  transition: 0.5s;
}

.sns-nav i:hover {
  background-color: #fff;
}

footer {
  background: #cfd8dc;
  text-align: center;
  padding: 20px 0 25px 0;
}

.footer-text {
  font-size: 10px;
  letter-spacing: 0.5px;
  margin: 0;
  text-align: right;
}

@media (max-width: 1199px) {
  .inner {
    width: 97%;
  }

  .keyvisual {
    padding: 250px 0;
  }

  /* work */
  .work {
    padding: 50px 0;
  }

  .contents {
    display: block;
    text-align: center;
  }

  .content-item {
    width: 100%;
  }

  /* skills */
  .pic {
    float: none;
    display: block;
    margin: 0 auto;
  }

  .pic:nth-child(3n+1) {
    margin-top: 80px;
  }

  .pic:first-child {
    margin-top: 0;
  }

}

@media (max-width: 767px) {
  .contact {
    display: none;
  }

  .sp-menu {
    display: inline-block;
  }

/* keyvisual */
  .keyvisual {
    padding: 200px 0;
  }

  h1 {
    font-size: 40px;
    line-height: 40px;
  }

  .sub-title {
    font-size: 30px;
    line-height: 30px;
  }

/* plan */
  .plan-table th {
    font-size: 14px;
    line-height: 22px;
  }

  .plan-table td {
    font-size: 12px;
  }

/* sns */
  .sns {
    padding: 50px 0;
  }

  .sns-nav {
  flex-direction: column;
  }

  .sns-nav i {
    width: 100%;
    padding: 0;
    margin: 50px 0;
  }

}
